/* Adapting to smaller device sizes */

/* Corresponding Bootstrap5 grid options
Class prefix | Size     | Container (max-width) | 
.col-           <576px      None (auto)
.col-sm-         ≥576px	    540px
.col-md-        ≥768px	    720px
.col-lg-         ≥992px     960px
.col-xl-        ≥1200px	    1140px
.col-xxl-       ≥1400px     1320px		 */


/* Device = Most of the Smartphones Mobiles */
@media (max-width: 992px) {
    header {
        position:fixed;
        padding: 60px 10px 5px 10px;
    }

    h1 {
        font-size: 0.5rem;
        font-weight: 200;
        padding: 0px;
        margin: 1rem 0rem;
    }

    .login-greeting {
        font-size: 1rem;
    }

    #card-parent {
        column-count: 1;
    }

    /* sidebar start */
    .sidebar {
        background-color: #efe2da;
        padding: 0px 10px 5px 10px;
        width: 100%;
        position: fixed;
        text-align: center;
    }

    .sidebar a {
        padding: 2px;
        text-decoration: none;
        font-size: 25px;
        color: #0D0D0D;
        display: inline;
    }

    #round-button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #6A4C39;
        color: #efe2da;
        opacity: 0.9;
        position: fixed;
        bottom: 30px;
        right: 30px;
        /* font-weight: 400;
        font-size: 2rem; */
        /* z-index: 2; */
    }

    #new-task-sidebar {
        display: none;
    }

    /* sidebar end */

    #homepage_info>div {
        width: 98%;
        
    }

    #homepage_info>div>img,
    #homepage_info>div>p
     {
        text-align:center;
        
    }
    .main-content {
        padding-top: 120px;}

    .calendar_container {
        width: 100%;

    }

    #filter-tasks {
        position: fixed;
    }
    
}