/* Colours of the Project
#9C9FA6   - Grey
#FAF7F4   - Off White
#D8CBC4   - Mokka Beige
#455359   - Sea Green
#A67153(old)  #6A4C39(new)   - Brown
#0D0D0D   - Black-Brown */

/* These fonts are imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
    color: #0D0D0D;
    background-color: #D8CBC4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {
    padding: 30px 50px;
}

header,
footer {
    color: #FAF7F4;
    background: #455359;
}

footer {
    font-size: 0.7rem;
    height: 30px;
    padding: 5px !important;
    width: 100%;
    bottom: 0 !important;
}

h1 {
    font-family: 'Lemonada', cursive, sans-serif;
    font-weight: 400;
    color: #FAF7F4;
    text-align: left;
}

#homepage_info {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

#homepage_info>div {
    width: 30%;
}

#homepage_info>div>img {
    width: 100%;
    text-align: center;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.login-greeting,
.login-greeting a,
.login-greeting a:link,
.login-greeting a:visited,
.login-greeting a:active {
    text-align: right;
    text-decoration: none;
    color: #FAF7F4;
}

.login-greeting a:hover {
    color: #D8CBC4;
}

.main-content {
    padding: 30px 30px;
}

/* sidebar start */
.sidebar {
    background-color: #efe2da;
    padding: 50px;
    /* height: 100%; */
}

.sidebar a {
    padding: 6px 6px 6px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #0D0D0D;
    display: block;
}

.sidebar a:hover {
    color: #efe2da;
    background: #6A4C39;

}

#round-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #6A4C39;
    color: #efe2da;
    font-size: 1rem;
    /* padding: -30px; */
    margin-bottom: 40px;
}

/* sidebar end */

#card-parent {
    column-count: 3;
}

/* 
.card {
    margin: 0px 0px 20px 0px;
} */

.card-body,
.calendar {
    width: 18rem;
    border-style: solid;
    border-color: #455359;
    border-width: 2px;
    border-radius: 3%;
    background-color: #FAF7F4;
    -webkit-column-break-inside: avoid;
    margin: 10px;
}

.card-title {
    font-weight: 600;
    font-size: x-large;
    color: #0D0D0D;
    text-align: left;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-indent: 30px;
    line-height: 32px;
}

button {
    height: 35px;
    border-radius: 10%;
    background-color: #D8CBC4;
    color: #0D0D0D;
    text-align: center;
}

.btn-primary

/* .btn-primary:hover, */
/* .btn-primary:active, */
/* .btn-primary:visited */
    {

    background-color: #D8CBC4 !important;
    color: #0D0D0D !important;
    border-color: #0D0D0D !important;


}

.btn-primary:hover {
    color: #efe2da !important;
    background: #6A4C39 !important;

}

.center,
form {
    text-align: center;
    padding: 2rem;
}

.right {
    text-align: right;
}

#circle-image-div {
    width: 200px;
    padding: 20px;
}

#circle-image {
    border-radius: 50%;
}

ul,
li {
    list-style-type: none;
}

/* calendar start */
#calendar {
    max-width: 1100px;
    margin: 40px auto;
}

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr,
.calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

a {
    color: #17a2b8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix {
    margin: 25px;
    width: 95%;
}

/* calendar end */