    /* Colours of the Project
    #9C9FA6   - Grey
    #FAF7F4   - Off White
    #D8CBC4   - Mokka Beige
    #455359   - Sea Green
    #A67153(old)  #6A4C39(new)   - Brown
    #0D0D0D   - Black-Brown */

    /* These fonts are imported from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


    body {
        color: #0D0D0D;
        background-color: #D8CBC4;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    header, footer {
        padding: 30px 50px;
        margin-bottom: 30px;
        background: #D8CBC4;
    }

    h1 {
        font-family: 'Lemonada', cursive, sans-serif;
        font-weight: 400;
        color: #0D0D0D;
        text-align: left;
    }


    .login-greeting {
        text-align: right;
    }

    #task-title {
        font-weight: 600;
        font-size: x-large;
        color: #0D0D0D;
        text-align: left;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-indent: 30px;
        line-height: 32px;
    }

    button {
        height: 35px;
        border-radius: 10%;
        background-color: #D8CBC4;
        color: #0D0D0D;
        text-align: center;
    }

    .center, form {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    img {
        border-radius: 50%;
    }