{% extends "base.html" %}
{% block content %}
<div class="dropdown" id="filter-tasks">
    <a class="btn btn-secondary dropdown-toggle" href="/" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">Filter Tasks by</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="calendar">Calendar</a></li>
        <li><a class="dropdown-item" href="all_tasks_complete">Show Completed Tasks Only</a></li>
        <li><a class="dropdown-item" href="all_tasks_hide_complete">Hide Completed Tasks</a></li>
        <li><a class="dropdown-item" href="all_tasks_filter_date">Due Date</a></li>
        <li class="dropdown">
            <form action="/all_tasks_filter_category" method="post">
                {% csrf_token %}
                <label for="category">Category:</label>
                <select id="category" class="form-select" type="category" name="category">
                    {% for item in Task_Category  %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Go</button>
            </form>
        </li>
    </ul>
</div>
<br>
<div id="card-parent" class="col">
    {% for mom_task in mom_task_list %}
    <div class="row">
        <div class="col">
            <!-- <div class="card"> -->
            <div class="row">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in mom_task.featured_image.url %}
                        <img class="card-img-top" src=" {{ mom_task.category.featured_image.url }}">
                        {% else %}

                         <img src="static/mom_task_category_images/household.jpg" class="card-img-top"
                         alt="default task image">

                        {% endif %}
                    </div>
                    
                    <!-- <div class="image-container">
                        {% if mom_task.category == Work %}

                        <img src="static/mom_task_category_images/work.jpg" class="card-img-top"
                            alt="work category task image">

                        {% else %}
                        <img src="static/pexels-tatiana-syrikova-3933275.jpg" class="card-img-top" alt="another image">
                        {% endif %}
                    </div> -->

                    <!-- {% for category in Task_Category  %}
                    {% if "placeholder" in category.featured_image.url %}
                    <img src="static/mom_task_category_images/household.jpg" class="card-img-top"
                        alt="default task image">
                    {% else %}
                    <img class="card-img-top" value="{{ category.id }}" src="{{ category.featured_image.url }}">
                    {% endif %}
                    {% endfor %} -->



                    <span class="card-title">{{ mom_task.title }}</span>
                    <br>
                    <span class="card-text">Category: {{ mom_task.category }}</span>
                    <br>

                    <span class="card-text">Due on: {{ mom_task.end_time }}</span>
                    <br>
                    <br>
                    <span class="card-text">{{ mom_task.description }}</span>
                    <br>
                    <br>
                    <a class="btn btn-warning" href="/edit/{{ mom_task.id }}">Edit</a>

                    {% if mom_task.complete == False %}
                    <a class="btn btn-secondary" href="/toggle_complete/{{ mom_task.id }}">Mark complete</a>
                    {% else %}
                    <a class="btn btn-success" href="/toggle_complete/{{ mom_task.id }}">Completed</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if not mom_task_list %}
<div class="center">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <span style="color:red;">No Tasks to Show</span>
    </div>
    <div>
        <a href="/new_task"><button>Create New Tasks Here</button></a>
    </div>

</div>
{% endif %}

{% endblock content %}