{% extends "base.html" %}
{% block content %}

<div id="card-parent" class="col">
    {% for mom_task in mom_task_list %}
    <div class="row">
        <div class="col">
            <!-- <div class="card"> -->
            <div class="row">
                <div class="card-body">
                    <img src="static/css/pexels-tatiana-syrikova-3932941.jpg" class="card-img-top"
                        alt="default task image">

                    <span class="card-title">{{ mom_task.title }}</span>
                    <br>
                    <br>
                    <span class="card-text">{{ mom_task.description }}</span>
                    <br>
                    <br>
                    <a class="btn btn-warning" href="/edit/{{ mom_task.id }}">Edit</a>

                    {% if mom_task.complete == False %}
                    <a class="btn btn-secondary" href="/toggle_complete/{{ mom_task.id }}">Mark complete</a>
                    {% else %}
                    <a class="btn btn-success" href="/toggle_complete/{{ mom_task.id }}">Completed</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if not mom_task_list %}
<div class="center">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <span style="color:red;">No Tasks to Show</span>
    </div>
    <div>
        <a href="/new_task"><button>Create New Tasks Here</button></a>
    </div>

</div>
{% endif %}

{% endblock content %}