{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mom Schedule - Django</title>
    <!-- MY CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> -->

</head>

<body>

    <header>
        <span>
            <a href="/">
                <h1>Mom Schedule</h1>
            </a>
        </span>

        <p class="login-greeting">
            <!-- log in or logout based on authentication status -->
            {% if user.is_authenticated %}
            <a class="nav-link" href="#">Hello {{user.username}}!</a>
            <br>
            <a class="nav-link" href="/logout">Logout</a>
            {% else %}
            <a class="nav-link" href="/login">Login</a>
            {% endif %}
        </p>
        <!-- <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a> -->
        <a href="/"><button>Home</button></a>
        <a href="/all_tasks"><button>Tasks</button></a>
    </header>

    <main>
        <!-- Bootstrap messages as a user interaction feedback -->
        {% if messages %}
        
            {% for message in messages %}
            <!-- <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li> -->
            <div class="container-fluid p-0 left">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button> -->
                    <span style="color:red;">{{ message }}</span>
                </div>
            </div>
            {% endfor %}
        
        {% endif %}

        {% block content %}
        <!-- Other templates' content here -->
        {% endblock content %}
    </main>

    <footer>
        Anna Gabain &#169; for educational purposes
    </footer>

</body>

</html>