{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mom Schedule - Django</title>
    <!-- MY CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> -->

</head>

<body>

    <header>
        <span>
            <a href="/"><h1>Mom Schedule</h1></a>
        </span>
        <p class="login-greeting">
            <!-- dummy psydocode -->
            <!-- FIX later! -->
            Hello {{ user.name }}! 
            <br>
            <a href="/register">Log in</a>
        </p>
        <a href="/register"><button>Register</button></a>
        <a href="/edit_task"><button>Edit Tasks</button></a>
    </header>

    <main>
        {% block content %}
        <!-- Other templates' content here -->
        {% endblock content %}
    </main>
    
    <footer>
       Anna Gabain &#169; for educational purposes
    </footer>

</body>

</html>