{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="dropdown" id="filter-tasks">
        <a class="btn btn-primary dropdown-toggle" href="/" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">Filter Tasks by</a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="calendar">Calendar</a></li> -->
            <li><a class="dropdown-item" href="all_tasks_complete">Show Completed Tasks Only</a></li>
            <li><a class="dropdown-item" href="all_tasks_hide_complete">Hide Completed Tasks</a></li>
            <li><a class="dropdown-item" href="all_tasks_filter_date">Due Date</a></li>
            <!-- <li class="dropdown-item">
                <form style="display: inline-block;" action="/all_tasks_filter_category" method="post" id="filter_form">
                    {% csrf_token %}
                    <label for="category">Category:</label>
                    <select id="category" type="category" name="category" onchange="filter_form.submit()">
                        {% for item in Task_Category  %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li> -->
        </ul>
    </div>
    <br>


</div>
<div class="container">
    <div class="clearfix">
        <a class="btn btn-primary left" href="{% url 'calendar' %}?{{ prev_month }}">&#9754; Previous Month </a>
        <a class="btn btn-primary right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month &#9755; </a>
    </div>
    {{ calendar }}
    </table>
</div>
{% endblock content %}