{% extends "base.html" %}
{% block content %}

<div class="main-content center">
    <div>
        <hr>
        <hr>
        <h2>Contact Us</h2>
        <hr>
    </div>
    <div class="col-10">
        <form action="/contact" method="post" style="width: 80%; float: right;">
            {% csrf_token %}
            <div class="field">
                <div class="mb-3">
                    <input id="email" class="form-control" type="email" name="email" placeholder="Your email..."
                        required="required">
                </div>
                <div class="mb-3">
                    <input id="topic" class="form-control" type="text" name="topic" placeholder="Topic..."
                        required="required">
                </div>
                <div class="mb-3">
                    <input id="your_message" class="form-control" type="textarea" name="your_message"
                        placeholder="Your message...">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
    
    </form>
    </div>
</div>
{% endblock content %}