{% extends "base.html" %}
{% block content %}

<div>
    <form action="/contact" method="post">

        {% csrf_token %}
        <div class="field">
            <label>
                <h2>Contact Us</h2>
            </label>
            <hr>
            <br>
            <input id="email" type="email" name="email" placeholder="Your email..." required="required">
            <br>
            <input id="topic" type="text" name="topic" placeholder="Topic..." required="required">
            <br>
            <input id="your_message" type="textarea" name="your_message" placeholder="Your message...">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock content %}