{% extends "base.html" %}
{% block content %}

<form action="/contact" method="post">
    <div class="col-lg-8 col-md-8 col-sm-10 col-10">


        {% csrf_token %}
        <div class="field">
            <label>
                <h2>Contact Us</h2>
            </label>
            <div class="mb-3">
                <input id="email" class="form-control" type="email" name="email" placeholder="Your email..."
                    required="required">
            </div>
            <div class="mb-3">
                <input id="topic" class="form-control"  type="text" name="topic" placeholder="Topic..." required="required">
            </div>
            <div class="mb-3">
                <input id="your_message" class="form-control" type="textarea" name="your_message" placeholder="Your message...">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

{% endblock content %}