{% extends "base.html" %}
{% block content %}

<!-- <form action="/update/{{id}}" method="post"> -->
<form action="/update/{{id}}">

    {% csrf_token %}

    <label for="title">Task Heading</label>
    <input type="text" id="title" name="title" value='{{title}}'>
    <br>
    <br>
    <label for="description">Task Description</label>
    <textarea id="description" name="description">{{ description }}</textarea>
    <br>
    <br>
    <button type="submit">Update</button>
    <a href="/all_tasks"><button>No, go back to the Tasks!</button></a>
</form>

{% endblock content %}