{% extends "base.html" %}
{% block content %}


<form action="/update/{{id}}">

    {% csrf_token %}

    <label for="title">Task Heading:</label>
    <br>
    <input type="text" id="title" name="title" value='{{title}}'>
    <br>
    <br>
    <label for="category">Task Category:</label>
    <br>
    <input type="text" id="category" name="category" value={{category}}>
    <br>
    <br>
    <label for="description">Task Description:</label>
    <br>
    <textarea id="description" name="description">{{ description }}</textarea>
    <br>
    <!-- <textarea id="date" name="date">{{ date }}</textarea> -->
    <!-- <label for="date">Current due date: {{ date }}</label> -->
    <label for="date">Due date:</label>
    <br>
    <input type="date" id="date" name="date" value='{{date}}'>  
    <br>
    <br>
    <button type="submit">Save</button>
    <br>
    <br>
    or
    <br>
    <br>
    <a class="btn btn-danger" href="/delete/{{ id }}">Delete this task</a>

</form>

{% endblock content %}