{% extends "base.html" %}
{% block content %}

<div class="center">
    <h2>Welcome to a Time Planning Tool for Busy Mothers</h3>
        <div>
            <img id="circle-image" width="15%" alt="planning mother"
                src="static/css/pexels-karolina-grabowska-4959753.jpg">
        </div>
        <p>Mom Schedule has a calendar, offers event editing and creating task cards.</p>
        <p>
            As a site user you can:
            <br>
            - register so that you have a unique and private schedule
            <br>
            - login so that you can view your own schedule
            <br>
            - see the schedule so you can overview your tasks
            <br>
            - View an individual task so that you can read the details of it
            <br>
            - Edit an individual task so that you can adapt it to your needs
        </p>
</div>

{% endblock content %}