{% extends "base.html" %}
{% block content %}

<div class="center">
    <h2>Welcome to a Time Planning Tool for Busy Mothers</h3>
    <p>includes a calendar, event editing, creating task cards.</p>
    <p>
        As a site user I can:
        <br>
        - register so that I can have a unique and private schedule
        <br>
        - login so that I can view my own schedule
        <br>
        - see the schedule so that I can overview my tasks
        <br>
        - View an individual task so that I can read the details of it
        <br>
        - Edit an individual task so that I can adapt it to my needs
        </p>
    <div >
        <img id="circle-image" width="15%" alt="planning mother" src="static/css/pexels-karolina-grabowska-4959753.jpg">
    </div>

</div>

{% endblock content %}