{% extends "base.html" %}
{% block content %}

<div>
    <form action="/add" method="post">
        {% csrf_token %}
        <div class="field">
            <label>
                <h2>Create a New Task</h2>
            </label>
            <br>
            <input id="heading" type="text" name="title" placeholder="Task heading..." required="required">
            <br>
            <input id="description" type="textarea" name="description" placeholder="Task description...">
            <br>
            Due date: <input id="date" type="date" name="date">
        </div>
        <br>
        <button type="submit">Add</button>
    </form>
</div>

{% endblock content %}